/**	Responsive Rules
*************************************************** **/

	/* Mega Menu */
	@media (min-width: 990px) {
		nav.mega-menu .nav,
		nav.mega-menu .dropup,
		nav.mega-menu .dropdown,
		nav.mega-menu .collapse {
			position: static;
		}
		header#topNav nav.mega-menu ul.nav-main .mega-menu-content {
			text-shadow: none;
		}

		header#topNav nav.mega-menu ul.nav-main li.mega-menu-item ul.dropdown-menu {
			color: #87919F;
			padding: 0;
			margin: 0 15px;
		}

		header#topNav nav.mega-menu ul.nav-main li.mega-menu-fullwidth ul.dropdown-menu {
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
			border-radius: 6px;
		}

			/* two columns */
			header#topNav nav.mega-menu ul.nav-main li.mega-menu-two-columns ul.dropdown-menu {
				min-width:350px;
			}
			header#topNav nav.mega-menu ul.nav-main li.mega-menu-two-columns ul.dropdown-menu ul.dropdown-menu {
				top:4px;
				min-width:160px;
				padding:6px 2px;
				box-shadow:rgba(0,0,0,0.3) 0 0 6px;
			}
			header#topNav nav.mega-menu ul.nav-main li.mega-menu-two-columns ul.dropdown-menu ul.dropdown-menu li a {
				font-weight: normal;
				text-transform: none;
				position: relative;
				padding: 6px 20px;
				margin:0 -2px;

				background: none;
				font-style: normal;
				line-height: 20px;
				color: #9C9C9C;
				position: relative;

				-webkit-transition: all 0.2s;
				   -moz-transition: all 0.2s;
					 -o-transition: all 0.2s;
						transition: all 0.2s;
			}

		header#topNav nav.mega-menu ul.nav-main li.mega-menu-item .mega-menu-sub-title {
			display: block;
			font-size: 1em;
			font-weight: 600;
			padding-bottom: 5px;
			text-transform: uppercase;
		}

		header#topNav nav.mega-menu ul.nav-main li.mega-menu-item ul.sub-menu {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		header#topNav nav.mega-menu ul.nav-main li.mega-menu-item ul.sub-menu a {
			display: block;
			margin: 0 0 0 -8px;
			padding: 6px 8px;
			text-transform: none;
			font-size: 0.9em;
			font-weight: normal;
			text-shadow: none;

			-webkit-transition: all 0.2s;
			   -moz-transition: all 0.2s;
				 -o-transition: all 0.2s;
					transition: all 0.2s;
		}

		header#topNav nav.mega-menu ul.nav-main li.mega-menu-item:hover ul.sub-menu li:hover a:hover {
			text-decoration: none;
		}

		header#topNav nav.mega-menu .navbar-inner,
		header#topNav nav.mega-menu .container {
			position: relative;
		}

		header#topNav nav.mega-menu .dropdown-menu {
			left: auto;
		}

		header#topNav nav.mega-menu .dropdown-menu > li {
			display: block;
		}

		header#topNav nav.mega-menu .nav.pull-right .dropdown-menu {
			right: 0;
		}

		header#topNav nav.mega-menu .mega-menu-content {
			padding: 20px 8px;
		}

		header#topNav nav.mega-menu .mega-menu-content:before,
		header#topNav nav.mega-menu .mega-menu-content:after {
			display: table;
			content: "";
			line-height: 0;
		}

		header#topNav nav.mega-menu .mega-menu-content:after {
			clear: both;
		}

		header#topNav nav.mega-menu.navbar .nav > li > .dropdown-menu:after,
		header#topNav nav.mega-menu.navbar .nav > li > .dropdown-menu:before {
			display: none;
		}

		header#topNav nav.mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
			left: 0;
			right: 0;
			width: auto;
		}

	}

	/* long menu buttons - fix */
	@media only screen and (max-width: 1200px) {
		header#topNav nav ul.nav-pills > li > a,
		header#topNav nav ul.nav-pills > li > a:hover {
			font-size: 14px;
			padding: 10px 8px;
		}
	}
	/* 
		BOOTSTRAP MOBILE EXTRA FIX
		Since Atropos v1.3 
	*/
	@media only screen and (max-width: 1006px) {
		#wrapper {
			padding-top:90px !important;
		}
		header#topNav {
			height:60px !important;
		}
		header#topNav div.nav-main-collapse {
			margin-top:6px;
		}
		header#topNav button.btn-mobile {
			margin-top:0 !important;
		}
		header#topNav a.logo {
			margin-top:-10px !important;
		}
	}


	/* 
		BOOTSTRAP FIX
		Since Atropos v1.3 
	*/
	@media (max-width: 991px) {
		.container {
			width:100% !important;
		}
	}


    @media (max-width: 990px) {
        .navbar-nav > li > a {
            margin: 0 8px;
        }
        .contac-d {
            display: none;
        }
        div#top_nav {
            display: none;
        }
        .block-new {
            width: 88%;
        }
        .bds-inf > ul > li.vach{
            margin: 0 12px;
        }
        #searchForm .input-group {
            width: 144px;
        }
        .taskbar-t a {
            padding: 0;
        }
    }


    @media only screen and (max-width: 768px) {
        .block-new {
            width: 85%;
        }
        #searchForm .input-group {
            width: 100%;
        }
        .news-block {
            padding-left: 15px;
        }
        .product-info-left {
            padding: 20px 0;
        }
        .big-block {
            margin: 0;
        }
    }


    @media only screen and (max-width: 479px) {
        .block-new {
            width: 72%;
        }
        .dack-color > ul > li {
            display: block;
        }
        .img130 {
            float: none;
        }
        .bds-inf > ul > li.vach {
            margin: 0 2px;
        }
    }